{% extends 'base.html' %}
{% load static %}

{% block title %}

    Student Home

{% endblock title %}

{% block css %}

    <link rel="stylesheet" href="{% static 'css/shome.css' %}">

{% endblock css %}

{% block content %}

    <div class="container layout">
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center card-style">
                    <div class="card-body">
                        <h5 class="card-title">Jobs You Have Applied To</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Application</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Jobs that May Interest You</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h5 class="card-title">Find Jobs</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}